<?xml version="1.0"?>

<robot name="wbot" xmlns:xacro="http://ros.org/wiki/xacro">
    <ros2_control name="RobotSystem" type="system">
        <!-- If using Gazebo Classic 11  -->
        <xacro:if value="$(arg is_classic)">
            <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- Otherwise, using Gazebo Sim / Ignition -->
        <xacro:unless value="$(arg is_classic)">
            <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>
   
        <joint name="wheel_right_joint">
            <!-- how to send command to the hardware -->
            <command_interface name = "velocity">
                <param name="min" value="-1"/>
                <param name="max" value="1"/>
            </command_interface>
            <!-- how to receive feedback from motors -->
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>

        <joint name="wheel_left_joint">
            <!-- how to send command to the hardware -->
            <command_interface name = "velocity">
                <param name="min" value="-1"/>
                <param name="max" value="1"/>  
            </command_interface>
            <!-- how to receive feedback from motors -->
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>

        <transmission name="wheel_left_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wheel_left_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="wheel_left_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <plugin>gazebo_ros2_control/TransmissionPlugin</plugin>
        </transmission>

        <transmission name="wheel_right_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wheel_right_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="wheel_right_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <plugin>gazebo_ros2_control/TransmissionPlugin</plugin>
        </transmission>

    </ros2_control>

    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <!-- <robotNamespace>/</robotNamespace> -->
        <robotParam>/robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod>
        <parameters>$(find wbot_description)/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>

</robot>



